<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.agrotech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="donut">
        <activity android:name=".NotifyPrice" />
        <activity android:name=".Change_Price" />
        <activity android:name=".Show_Farmer" />
        <activity android:name=".Show_Customer" />
        <activity android:name=".cropd" />
        <activity android:name=".Select_Option_Customer" />
        <activity android:name=".CRegistration" />
        <activity android:name=".CLogin" />
        <activity android:name=".CropInfo" />
        <activity android:name=".Choose_User" />
        <activity android:name=".Select_Option" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>